section{
  padding: 1em;
}
.floatie{
  position: fixed;
  bottom: 2em;
  right: 2em;
  opacity: 0.4;
}
.flasher{
  position:fixed; top:0; background: #CCC; width:100%; opacity:0.3; padding: 0.1em;
}
.selectors{
  display: flex;
  align-content: space-around;
}

@media only screen and (max-width:450px) { 
	.charts{
    display:flex;
    flex-direction: column;
  }
  .flasher{
    position:fixed; top:0; background: #CCC; width:100%; opacity:0.6; font-size:1em;
  }
}

@media only screen and (max-width:900px) { 
	.charts{
    display:flex;
    flex-direction: column;
  }
}

.charts{
  display:flex;
  justify-content: space-between;
  margin:1em 0;
}
.data-tables{
  border: rgba(0, 0, 0,.5) 1px solid;
}
/*select, input {
  margin: 0 0.4em; 
}*/
